<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/homepage}">
<body>
<th:block layout:fragment="content">
    <div class="container">
        <br/>
        <div class=" card-panel grey lighten-5 z-depth-5" style="margin-left: 25%;margin-right: 25%">
            <h5 class="teal-text text-darken-1" align="center">Login</h5>
            <div class="row">
                <form action="/authenticate" method="POST" style="margin-left: 5%;margin-right: 5%">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <div class="row">
                        <div class="input-field ">
                            <input id="" name="username" type="text" class="validate" pattern=".{4,40}" required
                                   title="4 characters minimum\40 Maximum">
                            <label>用户名</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id="pass" type="password" name="password" class="validate" pattern=".{4,40}" required
                                   title="6 characters minimum\40 Maximum">
                            <label for="pass">密码</label>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p class="center-align">
                                <button class="btn btn-large waves-effect waves-light" type="submit" name="action">登陆
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</th:block>

</body>
</html>