<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/homepage}">
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="single-post">
            <div class="card" style="margin-left: 5%;margin-right: 5%">
                <div >
                    <h2 class="center-align"><span th:text="${about.getTitle()}"></span></h2>
                    <h5 class="center-align"><span th:text="${viewHelper.getFormattedDate(about.getCreatedAt())}"></span></h5>
                    <div class="post" style="padding-left: 5%">
                        <h4 class="card-content" th:utext="${about.getRenderedContent()}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>