<div th:fragment="banner">
    <div class="container">

        <h1 class="header center-on-small-only" th:text="${App.getSiteName()}"></h1>
        <div class='row center'>
            <h4 class="header col s12 light center" th:text="${App.getSiteSlogan()}"></h4>
        </div>
        <!--<div class="row center">-->
        <!--<a href="http://materializecss.com/getting-started.html" id="download-button"-->
        <!--class="btn-large waves-effect waves-light">Get Started</a>-->
        <!--</div>-->
        <br>
    </div>
</div>