<footer  th:fragment="footer" >
<div class="container">
<div class="row center">
<h5 class="white-text">Join the Discussion</h5>
<p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us.
Come in and discuss new features, future goals, general problems or questions, or anything else you can
think of.</p>
<a class="btn waves-effect waves-light red lighten-3" href="#index-banner">置顶</a>
</div>

</div>
<div class="footer-copyright">
<div class="container">
© 2014-2016 Materialize, All rights reserved.
<a class="grey-text text-lighten-4 right" href="/">主页</a>
</div>
</div>
</footer>
