<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       th:fragment="html" >
<head  th:include="fragments/head::head"></head>
<body>
<header  class="z-depth-3" th:include="fragments/header::header"></header>
<main>
    <div class="section no-pad-bot " id="index-banner" th:include="fragments/banner::banner"></div>
    <div class="container" layout:fragment="content">
        <p>Content goes here...</p>
    </div>
</main>
<footer class="page-footer card " th:include="fragments/footer::footer" ></footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>if (!window.jQuery) {
    document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>');
}
</script>
<script src="/js/jquery.timeago.min.js"></script>
<script src="/js/prism.js"></script>
<script src="/jade/lunr.min.js"></script>
<!--<script src="jade/search.js"></script>-->
<script src="/bin/materialize.js"></script>
<script src="/js/init.js"></script>
</body>
</html>